[Unit]
Description=Servicio Apache WebGuardian
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/var/www/webguardian
ExecStart=/usr/sbin/apache2ctl -D FOREGROUND
Restart=always

[Install]
WantedBy=multi-user.target
